.footer {
    background-color: var(--bgd-color);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    @include desktop{
      text-align: start;
    }
  }
  .footer-thumb {
    @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    }
    @media screen and (min-width:1200px){
    flex-wrap: nowrap;
    }
  }
  
  .footer .logo {
    margin-bottom: 20px;
  }
  .adress-thumb{
    @media screen and (min-width:767px) {
      margin-left: 76px;
    }
    @media screen and (min-width:1200px) {
      margin-left: 0;
    }
  }
  .adress-thumb .logo__text--white {
    color: var(--white-color);
  }
  .adress-thumb__list > .adress-thumb__item {
    display: block;
    margin-bottom: 9px;
    margin-top: 0px;
/*     max-height: 21px; */
    &:last-child {
      margin-bottom: 60px;
    }
  }
  .adress-thumb__map {
    font-style: normal;
    color: var(--white-color);
    text-decoration: none;
    line-height: 1.71;
    transition: color var(--transition-timing) var(--cubic);
    &:hover, &:focus {
      color: var(--accent-color);
  }
}
  .adress-thumb__mail,
  .adress-thumb__tel {
    font-style: normal;
    color: var(--transparent-white-color);
    text-decoration: none;
    line-height: 1.71;
    transition: color var(--transition-timing) var(--cubic);
    &:hover, &:focus{
    color: var(--accent-color);
  }
}
 .join-thumb {
    align-items: baseline;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width:768px) {
      margin-left: auto;
      margin-right: 86px;
    }
    @media screen and (min-width:1200px) {
      margin-left: 70px;
    }


  }
  .join-thumb__tittle, .mail-thumb__tittle {
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
  }
  .join-thumb__list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
  .join-thumb__link {
    @extend %some-align;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: color var(--transition-timing) var(--cubic),
    background-color var(--transition-timing) var(--cubic);
    &:hover, &:focus {
      background: var(--accent-color);
    }
  }
  .join-thumb__icon {
    fill: currentColor;
  }
  .mail-thumb {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:1200px) {
      margin-right: 0;
    }
  }
  .subscribe-form {
    @media screen and (min-width:1199px) {
      display: flex;
      align-items: baseline;
    }
    align-items: center;
    margin-top: 20px;

    @include desktop{
      margin-right: 0;
      align-items:flex-start;
    }
  }
  .subscribe-form__input {
    width: 100%;
    padding: 16px 15px;
    background-color: var(--bgd-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--white-color);
    margin-bottom: 20px;

    @include mobile{
      width: 450px;
    }
    @include desktop{
      width: 358px;
    }
  }
  .subscribe-form__img {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--white-color);
  }