.list-styles {
    list-style: none;
    padding-left: 0;
}

.link-text {
    text-decoration: none;
    color: #212121;
}

.menu-open {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 10px;

    transition: var(--cubic) var(--transition-timing);
}

.menu-close {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    transition: var(--cubic) var(--transition-timing);
}

.menu-close:hover,
.menu-close:focus {
    fill: #2196F3;
}

.menu-open:hover,
.menu-open:focus {
    fill: #2196F3;
}

.mob-menu {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 48px;

    @media screen and(min-width:320px) {
        display: block;
    }

    @media screen and(min-width:480px) {
        display: block;
    }

    @media screen and(min-width:768px) {
        display: none;
    }

    @media screen and(min-width:1200px) {
        display: none;
    }

    >.mob-menu__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.mob-menu__container {
    max-width: 480px;
    padding-left: 40px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.menu-open-btn {
    margin-left: auto;
    background-color: transparent;
    border: none;

    @media screen and(min-width:320px) {
        display: block;
    }

    @media screen and(min-width:480px) {
        display: block;
    }

    @media screen and(min-width:768px) {
        display: none;
    }
}

.menu-close-btn {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    background-color: transparent;
    border: none;
}


.mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: #212121;

}

.mob-current {
    color: #2196f3;
}

.mob-menu__contact--tel {
    margin-top: 50px;
}

.mob-menu__contact--mail {
    margin-top: 64px;
}

.mob-menu__mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.02em;

    color: #757575;
}

.mob-menu__tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;

    letter-spacing: 0.02em;

    color: #2196F3;
}

.mob-list-icon {
    flex-wrap: wrap;
    row-gap: 10px;
    display: flex;
    margin-top: 64px;
    list-style: none;
}

.mob-link-icon:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-address-icon {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #2196F3;
}