.work {
    padding-bottom: 94px;
    padding-top: 0px;
    @media screen and (max-width: 1199px) {display: none;}

  }
  .work__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
  .work__list {
    display: flex;
    flex-wrap: wrap;
  }
  .work__list > .work__item {
    flex-basis: calc(100% / 3 - 30px);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .work__img {
    position: relative;
  }
  .work__inform {
    position: absolute;
    @extend %some-align;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  